*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #59316b;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fff;
}
img{
    width: 80px;
    margin-top: 29px;
    margin-inline: 39px;
}
.button1{
    font-size: 15px;
    color: #111;
    background-color: #ffbf00;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: 700;
    display: inline;
}
nav{
    margin: 250px;
    display: inline;
}
a{
    padding: 7px;
    text-decoration: none;
}
select{
    font-size: 15px;
    border: none;
}
.button2{
    font-size: 15px;
    border-color: white;
    padding: 10px;
}
h1{
    text-align: center;
    font-size: 85px;
    font-weight: lighter;
}
h3{
    text-align: center;
    font-size: 28px;
    font-weight: lighter;
}
div{
    margin-left: 120px;
    margin-block: 35px;
}
.circle{
    display: inline-block;
}
i{
    font-size: 80px;
    color:white;
    background-color: #401753;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    padding: 30px 20px;
}
.button3{
    font-size: 15px;
    margin-block: 30px;
    padding: 10px;
    color: #fff;
    background-color: #7d4698;
    border-color: #7d4698;
}