.container{
    grid-template-columns: 1fr 1fr; /*размер-столбца от количество значений зависит сколько будет колонок имеет значение = пиксели(px),проценты(%),фракции(fr) и можно задать значение repeat для повторов*/
    grid-template-rows: 10px;/*размер-строк от изменения зависит и изменение высоты имеет значение = пиксели(px),проценты(%),фракции(fr) и можно задать значение repeat для повторов*/
    grid-column-gap: 10px;/*добовляет расстояние между колонками имеет значение = пиксели,проценты и т.д*/
    grid-row-gap: 10px;/*добовляет расстояние между строчками имеет значение = пиксели,проценты и т.д*/
    grid-gap: 10px;/*добовляется расстояние и между строками, и между столбцами*/
    grid-auto-rows: minmax (100px, auto);/*создает размер для тех строк которые не заданы если задать minmax то все будут одинаковой величины но тот в котором текст будет автомотически примет размер текста*/
    justify-content: center;/*для выравнивания по оси х имеет значения = start,center,end*/
    align-content: center;/*для выравнивания по оси у = start,center,end*/
    justify-items: start;/*выравнивания по оси х относительно ячейки если например одна рядом стоящая ячейка имеет много текста а второй мало он может переместится в пустом месте имеет значения = start,center,end*/
    align-items: end;/*выравнивания по оси y относительно ячейки если например одна рядом стоящая ячейка имеет много текста а второй мало он может переместится в пустом месте имеет значения = start,center,end*/
    display: grid;

}
.item{
    padding: 10px;
    border: 1px solid black;
    overflow: scroll;/*при переполнении ячейки текстом он будет сколзить*/
}
.item_3{
    justify-self: center;/*выравнивания по оси x одного элемента относительно ячейки если например одна рядом стоящая ячейка имеет много текста а второй мало он может переместится в пустом месте имеет значения = start,center,end*/
    align-self: end;/*выравнивания по оси y одного элемента относительно ячейки если например одна рядом стоящая ячейка имеет много текста а второй мало он может переместится в пустом месте имеет значения = start,center,end*/
    grid-column-start: 1;/*для указания колонки с какого элемента должен начинатся тот или иной элемент*/
    grid-column-end: 3;/*для указания колонки в каком элементе должен заканчиваться тот или иной элемент*/
    grid-row-start: 1;/*для указания строки с какого элемента должен начинатся тот или иной элемент*/
    grid-row-end: 3;/*для указания строки в каком элементе должен заканчиваться тот или иной элемент*/
    grid-column: 1/3;
    grid-row: 1/3;
}